/* палітра кольлорів */
/* --color-brand { color: #2196F3; }*/
/* color-main: { color: #757575;}
     */
/* color h: {color:#212121} */
/* color-white-text: color: #FFFFFF; */
/* backrground-main : #F5F5F5;*/

/* backrground-secondary : 2F303A#;  */

/* logo-color: #000000; */
/* color-adress: #FFFFFF */
/* color-info: color: rgba(255, 255, 255, 0.6); */
/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

:root {
    --brand-color: #2196F3;
    --main-text-color: #757575;
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;
    --logo-text-color: #000000;
    --button-text-focus: #188CE8;

    --color-info: rgba(255, 255, 255, 0.6);
    /* --backrground-main: #F5F5F5; */
    --backrground-secondary: #2F303A;
    --primery-font: Roboto, san-serif;
    --secondary-font: Raleway, san-serif;
}

body {
    background-color: var(--secondary-text-color);
    color: var(--main-text-color);
    font-family: var(--primery-font);
    /* font-style: normal;
    font-weight: 400;
    line-height: 1.71; */
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0px;
}

/* h2,
h3 {
    color: var(--primary-text-color); */


ul {
    list-style: none;
}

.container {
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid red;
}

h1,
h2,
h3,
p {
    margin: 0;
}

/* HEADER */
.header {
    background-color: var(--secondary-text-color);


}


/* main-nav ставимо навігацію в ряд */
.main-nav {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}


/* header -навігація */
.header-nav {
    /* display: flex; */
    /* display: flex;
    align-items: center;
    justify-content: start; */

}

.header-link {}

/* LOGO */
.logo {
    display: flex;
    padding-right: 93px;

    color: var(--brand-color);
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    width: 145px;

}

.logo-studio {
    color: var(--logo-text-color);
}

.logo-studiof {
    color: var(--secondary-text-color);
}

/* навігація хедера */
.site-nav {
    display: flex;

}

/* очистка крайньої геометрії, запрали в останного ел маргін */
.site-nav .header-link:not(:last-child) {
    /* background-color: red; */
    margin-right: 50px;
}


/* .site-nav .header-link:last-child {
    margin-right: 0; */
/* } */

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    text-decoration: none;
    font-family: var(--primery-font);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    font-style: normal;

}

.site-nav .link.current,
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--brand-color);
}

.nav-contacts {
    display: flex;
    margin-left: auto;
    /* background-color: red; */
}

.nav-contacts .contact-item+.contact-item {
    margin-left: 50px;
}

.title-contact {
    color: var(--main-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.title-contact:hover,
.title-contact:focus {
    color: var(--brand-color);
}

/* section-hero */
.hero {
    background-color: var(--backrground-secondary);
    color: var(--secondary-text-color);
    text-align: center;
    height: 600px;

}

.hero-title {
    width: 696px;
    margin: auto;
    padding-top: 200px;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

.button-main {
    display: inline-block;
    border-radius: 4px;
    min-width: 216px;
    height: 50px;
    margin-top: 30px;

    background-color: var(--brand-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    font-family: var(--primery-font);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;


}

.button-main:hover,
.button-main:focus {
    color: var(--secondary-text-color);
    background-color: var(--button-text-focus);
}

/* section-features */
/* .features {
    display: inline-block;
} */

.vissually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: normal;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-features {
    display: flex;
    width: 1170px;
    margin: 0;
    padding: 0;
    padding-top: 94px;
    /* margin-left: -30px;  */

}

.section-features .title {
    color: var(--primary-text-color);
    margin-bottom: 10px;

}

.section-features>.item {
    width: 270px;
    flex-wrap: wrap;
    flex-basis: calc(100%/4 - 30px);
    margin-left: 30px;
    padding-bottom: 94px;

    font-style: normal;
    font-weight: 400;
    line-height: 1.71;

}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* section-servise */

.service-photo {
    width: 1170px;
    display: flex;

    justify-content: space-between;

    padding-bottom: 94px;
}










.service-title,
.comand-title {
    font-style: normal;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

}

/* <!--section Наша команда--> */
.comand {
    background-color: var(--secondary-text-color);
}

.comand-title {
    color: var(--primary-text-color);
}

.name-title {
    font-style: normal;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.position-title {
    font-style: normal;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

/* footer */
.footer {
    background-color: var(--backrground-secondary);
}

.title-adress {
    text-decoration: none;
    color: var(--secondary-text-color);
    line-height: 1.71;
    font-style: normal;
    font-weight: 400;
}

.title-contact {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

/*  PORTFOLIO */
/* main hero- */
/* .main-portfolio {
    /* background-color: var(--backrground-main); */
/* } */

/* button-filtr */
.button-filtr {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    cursor: pointer;
    font-family: var(--primery-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}

.button-filtr:hover {
    color: var(--secondary-text-color);
    background-color: var(--brand-color);
}

.button-filtr:focus {
    color: var(--secondary-text-color);
    background-color: var(--brand-color);
}


/* portfolio-title */
.portfolio-title {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

/* title-filtr */
.title-filtr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}